/*Colors 
dark teal: #558C89 
Light Teal: #74AFAD 
orange: #D9853B  
light gray: #ECECEA*/
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700');
#head{
    background-color: #74AFAD;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
          
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;  
    font-size: 250%;
    margin: 0px;
}

#headline{
    font-family: 'Montserrat', sans-serif; 
    font-size: 200%;
    text-align: center;
    
}

button{
    height: auto;
    
    background-color: #D98538;
    color: #ECECEA;
    font-family: 'Lora', serif; 
    font-size: 16px;
}
p {
   font-family: 'Lora', serif; 
}
form{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
input[type=text], select {
    width: 50%;
    padding: 10px 5px;
    margin: 8px 8px;
    display: inline-block;
/*    border: 1px solid #ccc;*/
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:focus {
/*    background-color: #ECECEA;*/
}

.actorimg{
    width = 25%;
}
#addinfo{
    height = 500px;
    background-color: #74AFAD; 
    width: 100%;
    display: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
div h2{
    padding-left: 10px;
}

#back{
    display: block;
    width: 70%;
    margin: auto;
}
#det{
    text-align: center;
}

.reformat{
    width: 100%;
    display: block;
    margin: auto;
}
#addRelease{
    text-align: center;
}

#addRelease, #addRec p, #addimages img{
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;   
}
#topactors, #actors{
    padding 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}
#topactors p {
    width: 30%;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
}

#actors{
    align-items: center;
   flex-flow: column; 
}
#topactors img{
    padding: 20px;
    height: 200px;
}

.recImg{
    display: block;
    margin: auto;    
}

#rec1{
    display: flex;
    justify-content: space-around;
}

/*ALL CSS ANIMATIONS< TRANSITIONS, ETC ARE IN HERE*/

@keyframes text{
    0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
    color: #D9853B; 
  }
  100% {
    transform: scale(1);
  }
}

#headline{
    animation: text 3s;
}

.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 50% !important;
}

.addInfo:hover{
    animation: buttonColor 1.5s infinite;
    background-color: #ECECEA; 
    color: #558C89;
}


@keyframes buttonColor{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.85);
    }
    100%{
        transform: scale(1);
        
    }
}


@media only screen and (min-width: 600px){
    #det{
        display: flex;
        align-items: center;
    }
    #back{
        height: 50%;
    }
    #overview{
        margin-top: 0em;
        margin-left: 10px;
    }
    @keyframes appear{
        0%{
            opacity: 0;
        }
        50%{
            opacity: .5;
        }
        100%{
            opacity: 1;
        }
    }
    .ani:hover {
        animation: appear 4s;
        
    }
}
